<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" th:content="@{/favicon/ms-icon-144x144.png}">
	<meta name="theme-color" content="#ffffff">
	
	<title>App BreeWeer</title>
	
	<!-- Include css -->
	<th:block th:include="layout/fragments/css :: css" />
	
</head>
<body>

	<div class="aw-layout-page">
	
		<!-- Include navbar -->
		<th:block th:include="layout/fragments/navbar :: navbar" />
		
		<!-- Include menu -->
		<th:block th:include="layout/fragments/menu :: menu" />
		
		<!-- Include conteudo -->
		<section class="aw-layout-content  js-content" layout:fragment="conteudo"></section>

		<!-- Include footer -->
		<th:block th:include="layout/fragments/footer :: footer" />
	
	</div>
	
	<!-- Include js -->
	<th:block th:include="layout/fragments/js :: js" />
	
</body>
</html>