<html xmlns:th="http://www.thymeleaf.org">

	<th:block th:fragment="js">
	
		<!-- Vendors -->
		<script th:src="@{/layout/javascripts/vendors.min.js}"></script>
		<script th:src="@{/javascript/vendors/maskMoney/jquery.maskMoney.min.js}"></script>
		<script th:src="@{/javascript/vendors/bootstrap-switch/bootstrap-switch.min.js}"></script>
		
		<!-- UiKit -->
		<script th:src="@{/javascript/vendors/uikit/uikit.min.js}"></script>
		<script th:src="@{/javascript/vendors/uikit/upload.min.js}"></script>
		
		<!-- Algaworks -->
		<script th:src="@{/layout/javascripts/algaworks.min.js}"></script>
		
		<!-- Breeweer -->
		<script th:src="@{/javascript/breeweer/breeweer.js}"></script>
		
		<!-- Breeweer Estilo -->
		<script th:src="@{/javascript/breeweer/estilo/estilo.cadastro.rapido.js}"></script>
		
		<script type="text/javascript">

			$(function () {

				$('.js-status').bootstrapSwitch({
					size: 'small',
					onColor: 'success',
					offColor: 'danger',
					onText: 'Ativo',
					offText: 'Inativo'
				});

				var settings = {
						type: 'json',
						filelimit: 1,
						allow: '*.(jpg|jpeg|png)'
					};
		
				UIkit.uploadSelect($('#uikitUploadSelect'), settings);
				UIkit.uploadDrop($('#uikitUploadDrop'), settings);

			});

		</script>
	
	</th:block>
	
</html>