<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:breeweer="http://brunoluz.com.br"
	layout:decorator="'layout/layout-padrao'">

	<section layout:fragment="conteudo">
					
		<div class="page-header">
			<div class="container-fluid">
				<h1>
					Cadastro de cerveja
				</h1>
			</div>
		</div>
					
		<div class="container-fluid">
			
			<form th:object="${cerveja}" method="POST" class="form-vertical  js-form-loading">
				<breeweer:message />
				<div class="row">
					<div class="col-sm-2">
						<div class="form-group" breeweer:classforerror="sku">
							<label for="sku" class="control-label">SKU*</label>
							<input id="sku" th:field="*{sku}" type="text" class="form-control"/>
						</div>
					</div>
					<div class="col-sm-10">
						<div class="form-group" breeweer:classforerror="nome">
							<label for="nome" class="control-label">Nome*</label>
							<input id="nome" th:field="*{nome}" type="text" class="form-control"/>
						</div>
					</div>
				</div>
				
				<div class="form-group" breeweer:classforerror="descricao">
					<label for="descricao" class="control-label">Descrição*</label>
					<textarea id="descricao" th:field="*{descricao}" rows="3" class="form-control"></textarea>
				</div>
				
				<div class="row">
					<div class="col-sm-3">
						<div class="form-group" breeweer:classforerror="estilo">
							<label for="estilo" class="control-label">Estilo*</label>
							<div class="bw-field-action">
								<select class="form-control js-select-estilo" th:field="*{estilo}">
									<option value="" label="Selecionar estilo">
									<option th:each="estilo : ${estilos}" th:value="${estilo.id}" th:label="${estilo.nome}" />
								</select>
								
								<div class="bw-field-action-icon">
									<a href="#" data-toggle="modal" data-target="#cadastroRapidoEstilo">
										<i class="glyphicon glyphicon-plus-sign bw-glyphicon-large"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group" breeweer:classforerror="sabor">
							<label for="sabor" class="control-label">Sabor*</label>
							<select class="form-control" th:field="*{sabor}">
								<option value="" label="Selecionar sabor">
								<option th:each="sabor : ${sabores}" th:value="${sabor}" th:label="${sabor.descricao}" />
							</select>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group" breeweer:classforerror="teorAlcoolico">
							<label for="teorAlcoolico" class="control-label">Teor Acoólico*</label>
							<div class="input-group">
								<input type="text" class="form-control js-maskmoney-decimal" th:field="*{teorAlcoolico}"/>
								<span class="input-group-addon">%</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6" breeweer:classforerror="origem">
						<label for="origem" class="control-label">Origem*</label>
						<div class="form-group">
							<th:block th:each="origem : ${origens}">
								<div class="radio radio-inline">
									<input th:id="|id_${origem}|" th:field="*{origem}" th:value="${origem}" type="radio" class="form-control"/>
									<label th:for="|id_${origem}|" th:text="${origem.descricao}"></label>
								</div>
							</th:block>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-3">
						<div class="form-group" breeweer:classforerror="valor">
							<label for="valor" class="control-label">Valor*</label>
							<div class="input-group">
								<span class="input-group-addon">R$</span>
								<input type="text" class="form-control js-maskmoney-decimal" th:field="*{valor}"/>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group" breeweer:classforerror="comissao">
							<label for="comissao" class="control-label">Comissão*</label>
							<div class="input-group">
								<input type="text" class="form-control js-maskmoney-decimal" th:field="*{comissao}"/>
								<span class="input-group-addon">%</span>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group" breeweer:classforerror="quantidadeEstoque">
							<label for="quantidadeEstoque" class="control-label">Estoque*</label>
							<input type="text" class="form-control js-maskmoney-integer" th:field="*{quantidadeEstoque}"/>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<label for="fotoUpload">Foto</label>
							<div id="uikitUploadDrop" class="bw-upload">
								<i class="glyphicon glyphicon-cloud-upload"></i>
								<span>Arraste a foto aqui ou </span>
								<a class="bw-upload-form-file">selecione <input id="uikitUploadSelect" name="fotoUpload" type="file" accept=".jpg, .jpeg, .png" /></a>
								<input type="hidden" th:field="*{foto}" />
								<input type="hidden" th:field="*{contentType}" />
							</div>
						</div>
					</div>
				</div>
				
				<button type="submit" class="btn btn-primary">Salvar</button>
			</form>
		</div>
		
		<!-- Include Modal -->
		<th:block th:include="estilos/cadastro-rapido-estilo :: modal-cadastro-rapido-estilo" />
		
	</section>
			
</html>