<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>App BreeWeer</title>
</head>
<body>

	
	<form th:object="${cerveja}" method="POST">
		
		<span th:text="${menssagem}"></span><br />
		
		<label for="ku">SKU:</label>
		<input th:field="*{sku}" type="text" /> 
		<span th:if="${#fields.hasErrors('sku')}" th:errors="*{sku}"></span>
		<br />
		
		<label for="nome">NOME:</label>
		<input th:field="*{nome}" type="text" /> 
		<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
		<br />
		
		<label for="descricao">DESCRIÇÃO:</label>
		<textarea th:field="*{descricao}"></textarea> 
		<span th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}"></span>
		<br />
		
		<button type="submit">Salvar</button>
		
	</form>

</body>
</html>