<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:breeweer="http://brunoluz.com.br"
	layout:decorator="'layout/layout-padrao'">

	<section layout:fragment="conteudo">
					
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10">
						<h1>Pesquisa cerveja</h1>
					</div>
					<div class="col-sm-2">
						<div class="aw-page-header-controls">
							<a class="btn btn-default" th:href="@{/cervejas/novo}">
								<i class="glyphicon glyphicon-plus-sign"></i>
								<span class="hidden-xs hidden-sm">Nova Cerveja</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
					
		<div class="container-fluid">
			<form method="GET" th:object="${cervejasFiltro}">
			
				<div class="row">
					<div class="form-group col-sm-6">
						<label class="control-label" for="sku">SKU</label>
						<input id="sku" autofocus="autofocus" type="text" class="form-control" th:field="*{sku}" />
					</div>
					<div class="form-group col-sm-6">
						<label class="control-label" for="nome">Nome</label>
						<input id="nome" type="text" class="form-control" th:field="*{nome}" />
					</div>
				</div>
				
				<div class="row">
					<div class="form-group col-sm-6">
						<label class="control-label" for="estilo">Estilo</label>
						<select id="estilo" class="form-control" th:field="*{estilo}">
							<option value="" label="Todos os estilos" />
							<option th:each="estilo : ${estilos}" th:text="${estilo.nome}" th:value="${estilo.id}" />
						</select>
					</div>
					<div class="form-group col-sm-6">
						<label class="control-label" for="sabores">Sabores</label>
						<select id="sabores" class="form-control" th:field="*{sabor}">
							<option value="" label="Todos os sabores" />
							<option th:each="sabor : ${sabores}" th:value="${sabor}" th:label="${sabor.descricao}" />
						</select>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group col-sm-6">
						<label for="origem" class="control-label">Origem</label>
						<div class="form-group">
							<th:block th:each="origem : ${origens}">
								<div class="radio radio-inline">
									<input th:id="|id_${origem}|" type="radio" class="form-control" th:value="${origem}" th:field="*{origem}" />
									<label th:for="|id_${origem}|" th:text="${origem.descricao}"></label>
								</div>
							</th:block>
							<div class="radio radio-inline">
								<input id="todasOrigens" type="radio" th:checked="*{origem} == null" name="origem" />
								<label for="todasOrigens" class="control-label">Todas</label>
							</div>
						</div>
					</div>
					<div class="form-group col-sm-6">
						<label for="precoDe" class="control-label">Valor Unitário</label>
						<div class="form-inline">
							<input id="valorDe" type="text" class="form-control aw-form-control-inline-sm js-maskmoney-decimal" th:field="*{valorDe}" />
							<label for="valorAte" class="control-label aw-form-label-between">Até</label>
							<input id="valorAte" type="text" class="form-control aw-form-control-inline-sm js-maskmoney-decimal" th:field="*{valorAte}" />
						</div>
					</div>
				</div>

				<button type="submit" class="btn btn-primary">Pesquisar</button>
			</form>
			
			<div class="table-responsive">
				<table class="table table-hover bw-tabela-simples">
					<thead>
						<tr>
							<th class="table-cerveja-col-foto"></th>
							<th class="table-cerveja-col-sku">
								<a th:href="${pagina.urlOrdenada('sku')}" th:remove="${pagina.vazia} ? tag">
									<span>SKU</span>
									<span class="dropup" th:remove="${pagina.descendente('sku')} ? tag" th:if="${pagina.ordenada('sku')}">
										<span class="caret"></span>
									</span>
								</a>
							</th>
							<th class="table-cerveja-col-nome">
								<a th:href="${pagina.urlOrdenada('nome')}" th:remove="${pagina.vazia} ? tag">
									<span>Nome</span>
									<span class="dropup" th:remove="${pagina.descendente('nome')} ? tag" th:if="${pagina.ordenada('nome')}">
										<span class="caret"></span>
									</span>
								</a>
							</th>
							<th class="table-cerveja-col-estilo">Estilo</th>
							<th class="table-cerveja-col-origem">Origem</th>
							<th class="table-cerveja-col-valor">Valor</th>
							<th class="table-cerveja-col-acoes"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cerveja : ${pagina.conteudo}">
							<td class="text-center">
								<img th:src="@{/fotos/local/{foto}(foto=${cerveja.fotoOuMock})}" class="img-responsive" />
							</td>
							<td class="text-center" th:text="${cerveja.sku}"></td>
							<td th:text="${cerveja.nome}"></td>
							<td th:text="${cerveja.estilo.nome}"></td>
							<td th:text="${cerveja.origem.descricao}"></td>
							<td class="text-right" th:text="|R$ ${cerveja.valor}|"></td>
							<td class="text-center">
								<a class="btn btn-link btn-x" title="Editar">
									<i class="glyphicon glyphicon-pencil"></i>
								</a>
								<a class="btn btn-link btn-x" title="Excluir">
									<i class="glyphicon glyphicon-remove"></i>
								</a>
							</td>
						</tr>
						<tr th:if="${#lists.isEmpty(cervejas)}">
							<td colspan="7">Nenhuma cerveja encontrada</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="row text-center" th:if="${not pagina.vazia}">
				<div class="col-sm-12">
					<ul class="pagination pagination-sm">
					
						<li th:class="${pagina.primeira} ? disabled">
							<a th:href="${pagina.urlParaPagina(pagina.atual - 1)}" th:remove="${pagina.primeira} ? tag">
								<span>&laquo;</span>
							</a>
						</li>
						
						<th:block th:each="p : ${#numbers.sequence(1, pagina.total)}" 
								  th:with="numeroPagina=${p - 1}">
								  
							<li th:class="${pagina.atual == numeroPagina} ? active">
								<a th:href="${pagina.urlParaPagina(numeroPagina)}">[[${p}]]</a>
							</li>
							
						</th:block>
						
						<li th:class="${pagina.ultima} ? disabled">
							<a th:href="${pagina.urlParaPagina(pagina.atual + 1)}" th:remove="${pagina.ultima} ? tag">
								<span>&raquo;</span>
							</a>
						</li>
						
					</ul>
				</div>
			</div>

		</div>
		
	</section>
			
</html>